* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

/*Xu ly header*/
.header {
    background-color: transparent;
    font-weight: 700px;
    border-bottom: 1px solid #a9a8a8;
    padding: 12px 25px;
    position: absolute;
    width: 100%;
    color: white;
    z-index: 10;
}
.header_content {
    display: flex;
    justify-content: space-around;
}
.header .header_content .logo {
    margin-left: -100px;
    font-size: 30px;
    font-weight: 700;
    width: 50%;
    padding-left: 245px;
    
}
.header .header_content .logo a {
    text-decoration: none;
    color: white;
}
.header ul li {
    list-style: none;
    display: inline;
    padding-right: 70px;
    font-weight: 550;
    font-size: 17px;
    width: 50%;
}
.header ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.9s;
}
.header ul li a:hover {
    color: red;
    font-size: 19px;
}
.list {
    margin-top: 10px;
}
/*Ket thuc header*/

/*Xu ly carousel*/
.carousel {
    background-image: url(../images/home_slider.jpg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.carousel_content {
    text-align: center; 
    margin-top: 280px;
}
.carousel_content p {
    color: white;
    margin-bottom: 8px;
    font-size: 25px;
}
.carousel_content h1 {
    font-size: 50px;
    color: white;
    font-weight: 900;
    margin-bottom: 40px;
}
.carousel_content button {
    background-color: red;
    padding: 15px 20px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.7s;
}
.carousel_content button:hover {
    font-size: 20px;
    padding: 20px 25px;
}
.carousel_content button a {
    color: white;
    text-decoration: none;
}
.carousel .down {
    position: absolute;
    margin: 0 auto;
    margin-top: 530px;
    font-size: 30px;
    color: white;
    animation: muiten;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes muiten {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(80px);
    }
    70% {
        transform: translateY(85px);
    }
    100% {
        transform: translateY(70px);
    }
}
.carousel .arrow {
    border-bottom: 12px solid white;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    bottom: -46px;
    position: absolute;
}
/*Ket thuc carousel*/

/*Xu ly showcase*/
.showcase .showcase_introduce {
    text-align: center;
    line-height: 30px;
    margin-top: 77px;
}
.showcase .showcase_introduce .p1 {
    color: #808090;
}
.showcase .showcase_introduce .p2 {
    font-size: 25px;
    font-weight: 900;
}
.showcase_list {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.showcase_item {
    height: 400px;
    position: relative;
    cursor: pointer;
}
.showcase_item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(50%);
}
.showcase_item .showcase_filter {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 43, 74, 0.6);
}
.showcase_item:hover .showcase_filter {
    opacity: 1;
    transition: all 1s;
}
.showcase_item .showcase_filter i {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 14px 14px;
    top: 25px;
    right: 25px;
    position: absolute;
}
.showcase_item .showcase_filter .p1 {
    color: white;
    position: absolute;
    bottom: 55px;
    left: 25px;
}
.showcase_item .showcase_filter .p2 {
    color: white;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    bottom: 25px;
}
/*Ket thuc showcase*/

/*Xu ly articles*/
.articles {
    background-color: #f3f3f3;
    padding: 100px 0;
    margin-top: 100px;
}
.articles_introduce {
    text-align: center;
}
.articles_introduce .p1 {
    color: #808080;
}
.articles_introduce .p2 {
    font-size: 25px;
    font-weight: 900;
}
.articles_list {
    margin-top: 60px;
}
.articles_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.articles_item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: grayscale(50%) contrast(50%);
    cursor: pointer;
}
.metro1 {
    grid-row: 1/ span 2;
    grid-column: 1/ span 2;
}
.metro10 {
    grid-row: 3/ span 2;
    grid-column: 3/ span 2;
}
.articles_item img:hover {
    filter: grayscale(0%) contrast(100%);
    transition: 1s;
}
/*Ket thuc articles*/

/*Xu ly experience*/
.experience {
    background-image: url(../images/bussiness_img_1.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    background-attachment: fixed;
}
.experience_introduce {
    text-align: center;
    margin-top: -27px;
    color: white;
    margin-bottom: 30px;
}
.experience_introduce .p2 {
    font-size: 25px;
    font-weight: 900;
}
.experience_media video {
    padding: 1px;
    width: 100%;
    height: 700px;
}